<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/icons/ed-favicon-48x48.png" sizes="48x48" />
    <link rel="icon" type="image/svg+xml" href="/icons/ed-favicon.svg" />
    <link rel="shortcut icon" href="/icons/ed-favicon.ico" />
    <title>Alpheya Case Study</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>



</head>
<body>

  <div id="nav-container" hx-get="/includes/nav.html" hx-trigger="load"></div>

    <div id="case-study-content">
      <div id="alpheya" class="case-study">

        <div class="case-study-hero-image">
          <img src="/assets/media/alpheya/Hero.jpg" alt="alpheya-hero-banner">
        </div>

        <project-intro 
        title="Building the Alpheya Brand"
        role="Designer / Motion"
        context1="Alpheya is a wealthtech platform backed by BNY Mellon and Lunate, which launched in late 2023. With a mission to power and grow wealth franchises, Alpheya is focused on the Middle East and Northern Africa.
        <br><br><a href='https://www.alpheya.com/'>alpheya.com ↗</a>"
        context2="Team:<br><br>
        Executive Creative Director: Neil Cooper<br>
        Design Director: Jack Wade<br>
        Art Director: Kyle Wukasch<br>
        Designer: Evan Davison<br>
        Account Director: Didem Peker<br>
        Copywriter: Julian Abel">
    </project-intro>


    <content-hero-media
    media-src="/assets/video/Venue Square Mockup_Expanded_compressed.mp4"
    hero-title="The Brand."
    title-text-size="12vw"
    hero-text-context="Drawing inspiration from regional geography, architecture, and culture, Alpheya is a brand built for the MENA (Middle East and Northern Africa) region."
    hero-text-content-2="I was the lead animator for this Alpheya sizzle awards video, which included their graphic system in motion, brand tonality, and animated digital / OOO expressions."
  ></content-hero-media>


        <masonry-gallery columns="3">
          <img src="/assets/media/alpheya/alpheya-img-12.png" alt="Image 12" loading="lazy">
          <img src="/assets/media/alpheya/alpheya-img-6.jpg" alt="Image 6" loading="lazy">
          <img src="/assets/media/alpheya/alpheya-img-4.jpg" alt="Image 4" loading="lazy">
          <img src="/assets/media/alpheya/alpheya-img-11.jpg" alt="Image 11" loading="lazy">
          <img src="/assets/media/alpheya/alpheya-img-2.jpg" alt="Image 2" loading="lazy">
          <img src="/assets/media/alpheya/alpheya-img-7.jpg" alt="Image 7" loading="lazy">
          <img src="/assets/media/alpheya/alpheya-img-5.jpg" alt="Image 5" loading="lazy">
          <img src="/assets/media/alpheya/alpheya-img-1.jpg" alt="Image 1" loading="lazy">
          <img src="/assets/media/alpheya/alpheya-img-8.png" alt="Image 8" loading="lazy">
          <img src="/assets/media/alpheya/alpheya-img-9.jpg" alt="Image 9" loading="lazy">
          <img src="/assets/media/alpheya/alpheya-img-10.jpg" alt="Image 10" loading="lazy">
          <img src="/assets/media/alpheya/alpheya-img-3.jpg" alt="Image 3" loading="lazy">
        </masonry-gallery>



        <content-columns 
        aspect-ratio="4 / 3"
        
        content-1="The Alpheya brand “contours” are used as a supporting graphical element. They can convey different aspects of the brand based on arrangement, repetitions, and proximity.

        Motion acts as an emphasis for these brand aspects - The ebb and flow of these patterns is designed to feel like natural expansion and compression. I developed a motion system for using these patterns which expand, shift, and rotate around each other in different compositions. 
        
        We expressed these motion patterns throughout our designs, in the Alpheya website, social, and out of home mockups."
        image-1-src="/assets/media/alpheya/alpheya-pattern-breakdown.png"
        image-1-alt="First Image"
        image-1-span="3"
        caption-1=" "
      ></content-columns>



          

    <content-columns
    content-columns-title=" "
    columns="3"
    aspect-ratio="0.64 / 1" 
    image-1-src="/assets/media/alpheya/alpheya-poster-mock-1.png"
    image-1-alt="First Image"
    image-1-span="1"
    caption-1=" "

    image-2-src="/assets/media/alpheya/alpheya-poster-mock-2.png"
    image-2-alt="First Image"
    image-2-span="1"
    caption-2=" "

    image-3-src="/assets/media/alpheya/alpheya-poster-mock-3.png"
    image-3-alt="First Image"
    image-3-span="1"
    caption-3=" "
  ></content-columns>



  <content-hero-media
  media-src="/assets/video/Venue Square Mockup_Expanded_compressed.mp4"
  hero-title="The Launch."
  title-text-size="12.3vw"
  hero-text-context="I storyboarded, designed, and co-animated this brand launch video which was displayed at Abu Dhabi Finance Week 2023."
    hero-text-content-2=" "
></content-hero-media>




<content-columns 
columns="3"
aspect-ratio="16 / 9" 
image-1-src="/assets/media/alpheya/alpheya-sizzle-context-1.png"
image-1-alt="First Image"
image-1-span="1"
caption-1="Design

Initially storyboarded in Figma, the entire sizzle was animated in Adobe After Effects."

image-2-src="/assets/media/alpheya/alpheya-sizzle-context-2.png"
image-2-alt="First Image"
image-2-span="1"
caption-2="Delivery

From initial storyboards to delivery this video was created in just under 5 weeks."

image-3-src="/assets/media/alpheya/alpheya-sizzle-context-3.png"
image-3-alt="First Image"
image-3-span="1"
caption-3="Destination

The sizzle was displayed at Abu Dhabi Finance Week 2023, following the launch of the brand in late November."
></content-columns>




      </div>


    </div>
</div>



<div id="homepage-placeholder" hx-get="/homepage-content.html" hx-trigger="load"></div>



      <footer>
        <div id="footer-container">
        <div id="footer-links">
         <div id="arena-link">
                <p>Curious?<br>
                    <a href='https://www.are.na/evan-davison/index'>are.na/evan-davison</a></p>
            </div>

            <a href="https://your-link.com" class="footer-button">Live →</a>
        </div>

        <div id="footer-nav">
            <div class="footer-nav-links">
                <ul>
                    <li><strong>Projects</strong></li>
                    <li><a href="/alpheya.html">Alpheya →</a></li>
                    <li><a href="/larrys.html">Larry's Cà Phê →</a></li>
                    <li><a href="/wove.html">Wove  🔒</a></li>
                    <li><a href="/wip-zine.html">WIP Zine →</a></li>
                    <li><a href="/living-galapagos.html">Living Galapagos Doc  →</a></li>
                </ul>
            </div>
        </div>

            <div id="footer-flower-container" class="footer-flower-container">
                <div id="weather-headline" class="weather-headline">
                   <p id="headline-text">Loading...</p>
                 </div>
               <div id="flowerContainer" class="flower-container"></div>
              
               </div>
        </div>
        </footer>

        <script src="/components/gallery/image-carousel.js"></script>
        <script src="/components/gallery/content-gallery.js"></script>
        <script src="/components/content/content-columns.js"></script>
        <script src="/components/content/content-hero-media.js"></script>
        <script src="/components/gallery/masonry-gallery.js"></script>
        <script src="/components/project/project-intro.js"></script>
        <script src="/components/portfolio-thumbnail/project-thumbnail.js"></script>
        <script src="/main.js"></script>
</body>
</html>

