<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/icons/ed-favicon-48x48.png" sizes="48x48" />
    <link rel="icon" type="image/svg+xml" href="/icons/ed-favicon.svg" />
    <link rel="shortcut icon" href="/icons/ed-favicon.ico" />
    <title>Alpheya Case Study</title>
    <link rel="stylesheet" href="/resets.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>



</head>
<body>

  <div id="nav-container" hx-get="/includes/nav.html" hx-trigger="load"></div>

    <div id="case-study-content">
      <div id="alpheya" class="case-study">

        <div class="case-study-hero-image">
          <img src="/assets/media/alpheya/Hero.jpg" alt="alpheya-hero-banner">
        </div>

        <project-intro 
        title="Building the Alpheya Brand"
        role="Designer / Motion"
        context1="Alpheya is a wealthtech platform backed by BNY Mellon and Lunate, which launched in late 2023. With a mission to power and grow wealth franchises, Alpheya is focused on the Middle East and Northern Africa.
        <br><br><a href='https://www.alpheya.com/'>alpheya.com ↗</a>"
        context2="Team:<br><br>
        Executive Creative Director: Neil Cooper<br>
        Design Director: Jack Wade<br>
        Art Director: Kyle Wukasch<br>
        Designer: Evan Davison<br>
        Account Director: Didem Peker<br>
        Copywriter: Julian Abel">
    </project-intro>


    <content-hero-media
    media-src="/assets/video/Alpheya Brand Sizzle 01.31.24 Medium.mp4"
    hero-title="The Brand."
    title-text-size="13.2vw"
    hero-text-context="Drawing inspiration from regional geography, architecture, and culture, Alpheya is a brand built for the MENA (Middle East and Northern Africa) region."
    hero-text-content-2="I was the lead animator for this Alpheya sizzle awards video, which included their graphic system in motion, brand tonality, and animated digital / OOO expressions."
    thumbnail-src="/assets/video/alpheya_sizzle-thumbnail.jpg">
    ></content-hero-media>



  <div id="lockedContent">
    <div id="lock-icon"><svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px"><path d="M240-80q-33 0-56.5-23.5T160-160v-400q0-33 23.5-56.5T240-640h40v-80q0-83 58.5-141.5T480-920q83 0 141.5 58.5T680-720v80h40q33 0 56.5 23.5T800-560v400q0 33-23.5 56.5T720-80H240Zm0-80h480v-400H240v400Zm240-120q33 0 56.5-23.5T560-360q0-33-23.5-56.5T480-440q-33 0-56.5 23.5T400-360q0 33 23.5 56.5T480-280ZM360-640h240v-80q0-50-35-85t-85-35q-50 0-85 35t-35 85v80ZM240-160v-400 400Z"/></svg></div> 
    <h1>I'm sorry, the rest of this project is protected</h1>
    <p>Please request access @ evandavison64@gmail.com</p>
    
    <div id="input-wrapper">
        <input type="password" id="password" placeholder="Password">
        <button id="submit"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" ><path d="m701.33-300.67-47.66-46.66L752.33-446H120v-66.67h633l-98.33-98.66 47-46.67L880-479.33 701.33-300.67Z"/></svg></button> 
    </div>
    
    <div id="message"></div>
</div>


<div id="protectedContentWrapper">

</div>



      </div>


    </div>
</div>



<div id="homepage-placeholder" hx-get="/homepage-content.html" hx-trigger="load"></div>



      <footer>
        <div id="footer-container">
        <div id="footer-links">
         <div id="arena-link">
                <p>Curious?<br>
                    <a href='https://www.are.na/evan-davison/index'>are.na/evan-davison</a></p>
            </div>

            <a href="/live.html" class="footer-button">Live →</a>
        </div>

        <div id="footer-nav">
            <div class="footer-nav-links">
                <ul>
                    <li><strong>Projects</strong></li>
                    <li><a href="/alpheya.html">Alpheya →</a></li>
                    <li><a href="/larrys.html">Larry's Cà Phê →</a></li>
                    <li><a href="/wove.html">Wove  🔒</a></li>
                    <li><a href="/wip-zine.html">WIP Zine →</a></li>
                    <li><a href="/living-galapagos.html">Living Galapagos Doc  →</a></li>
                </ul>
            </div>
        </div>

            <div id="footer-flower-container" class="footer-flower-container">
                <div id="weather-headline" class="weather-headline">
                   <p id="headline-text">Loading...</p>
                 </div>
               <div id="flowerContainer" class="flower-container"></div>
              
               </div>
        </div>
        </footer>

        <script src="/components/gallery/image-carousel.js"></script>
        <script src="/components/gallery/content-gallery.js"></script>
        <script src="/components/content/content-columns.js"></script>
        <script src="/components/content/content-hero-media.js"></script>
        <script src="/components/gallery/masonry-gallery.js"></script>
        <script src="/components/project/project-intro.js"></script>
        <script src="/components/portfolio-thumbnail/project-thumbnail.js"></script>
        <script src="/main.js"></script>
</body>
</html>

