<!DOCTYPE html>

<!--

Site made by ed

Primary font is Lausanne, designed by Nizar Kazan.

-->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Hi, I'm Evan. I'm a designer & filmmaker in NYC.">
    <link rel="icon" type="image/svg+xml" href="/assets/icons/ed-favicon.svg" media="(prefers-color-scheme: light)" />
    <link rel="icon" type="image/png" href="/assets/icons/ed-favicon-dark.svg"  media="(prefers-color-scheme: dark)" />
    <link rel="icon" type="image/png" href="/assets/icons/ed-favicon-48x48.png" sizes="48x48" />
    <link rel="shortcut icon" href="/assets/icons/ed-favicon.ico" />

    <title>Evan's Portfolio</title>
    <link rel="stylesheet" href="/resets.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>


</head>
<body>

    <div id="nav-container" hx-get="/includes/nav.html" hx-trigger="load"></div>

    <div id="homepage-placeholder" hx-get="/homepage-content.html" hx-trigger="load"></div>

    <div id="footer-container" hx-get="/includes/footer.html" hx-trigger="load"></div>

  
        <script src="/components/components.js"></script>
        <script src="/main.js"></script>

</body>
</html>
