<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Larry's Ca Phe Film">
    <link rel="icon" type="image/svg+xml" href="/assets/icons/ed-favicon.svg" media="(prefers-color-scheme: light)" />
    <link rel="icon" type="image/png" href="/assets/icons/ed-favicon-dark.svg"  media="(prefers-color-scheme: dark)" />
    <link rel="icon" type="image/png" href="/assets/icons/ed-favicon-48x48.png" sizes="48x48" />
    <link rel="shortcut icon" href="/assets/icons/ed-favicon.ico" />
    <title>Larry's Cà Phê</title>
    <link rel="stylesheet" href="/resets.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>


</head>
<body>

  <div id="nav-container" hx-get="/includes/nav.html" hx-trigger="load"></div>

  <div id="case-study-content">
<div id="larrys" class="case-study">


    <div class="left-content">
        <div class="case-sidebar-content">

            <div class="case-sidebar-content-title">
            <h2>Larry's Cà Phê</h2>
            <p>Title Design</p>
             </div>


             <div style="display: flex; flex-direction: row; gap: 24px; align-items: center;">
                <img src="/assets/media/larrys/Cup_Animation_3.gif" style="width: 35px;"> 
                </img>
                <p">Awarded Grand Prize at the Shops of New York Film Festival</p>
            
                </div>

            <p>Welcome to Larry's Cà Phê, a Vietnamese coffee shop adorned in yellow and emerald, founded by Larry's son, Tuan Nguyen. Mirroring Tuan's own mission, this film was made to show New York the joys of cultivating community and friendships over a cup of Vietnamese coffee.</p>

                <p>Director/Editor: <a href='https://www.chrisocana.com/' target='_blank'rel='noreferrer' >Chris Ocana</a><br>
                    Additional Camera/Photography: <a href='https://cynthia-liu.com/' target='_blank'rel='noreferrer' >Cynthia Liu</a><br>
                    Titles/Design: Evan Davison<br>
                    Color: <a href='https://ellenlee.xyz/' target='_blank'rel='noreferrer' >Ellen Lee</a><br>
                    Original Music: BJ White<br><br>
                    
                    and a very special thanks to Heard City for making this sound great.</p>
                    
    
    </div>
</div> 


<div class="right-content project-gallery" >
    <div class="case-study-hero-image">
        <img src="/assets/media/larrys/20240807_Liu_LarrysCaPhe-35.jpg" alt="">
      </div>

    <div class="vimeo-embed-wrapper">
        <iframe src="https://player.vimeo.com/video/994901322?&dnt=1"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
        style="position:absolute;top:0;left:0;width:100%;height:100%;"
        title="Larrys Ca Phe"
        ></iframe>
    </div>

    <p>The title design was drawn from the social media identity of Larry's Cà Phê, designed by <a href='https://www.instagram.com/la.duyen.nyc/'  target='_blank'rel='noreferrer'>@la.duyen.nyc</a></p>


<div id="larrys-gallery">
  
    <masonry-gallery columns="2">
  <img src="/assets/media/larrys/larrys-insta-example-1.jpg" alt="Image 1" >
  <img src="/assets/media/larrys/Larrys_titleExample-1.gif" alt="Image 2">
  <img src="/assets/media/larrys/larrys-insta-example-2.jpg" alt="Image 3" >
  <img src="/assets/media/larrys/Title_Example-2.jpg" alt="Image 4" >
</masonry-gallery>
</div>





  </div>
  </div>

    
    </div>





 


  
   <div id="homepage-placeholder" hx-get="/homepage-content.html" hx-trigger="load"></div>

    <div id="footer-container" hx-get="/includes/footer.html" hx-trigger="load"></div>

    <script src="/components/components.js"></script>
    <script src="/main.js"></script>
</body>
</html>