<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/icons/ed-favicon-48x48.png" sizes="48x48" />
    <link rel="icon" type="image/svg+xml" href="/icons/ed-favicon.svg" />
    <link rel="shortcut icon" href="/icons/ed-favicon.ico" />
    <title>Alpheya Case Study</title>
    <link rel="stylesheet" href="/resets.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>


</head>
<body>

  <div id="nav-container" hx-get="/includes/nav.html" hx-trigger="load"></div>

  <div id="case-study-content">
<div id="larrys" class="case-study">

  <div class="case-study-hero-image">
    <img src="/assets/media/larrys/20240807_Liu_LarrysCaPhe-35.jpg" alt="">
  </div>

  <project-intro 
  title="Larry's Cà Phê"
  role="Title Design"
  context1="New York City is estimated to have <a href='https://perfectdailygrind.com/2024/08/big-city-coffee-shops-market-competition/' target='_blank'rel='noreferrer' >over 1,500 cafes </a> across its five boroughs. Many of those cafes share some of the same qualities; loyal regulars, cozy nooks, and specialty drinks.<br><br>

  But, on the corner of Woodpoint and Withers in East Williamsburg, one coffee shop stands as a tribute to Larry Hilton, teacher, neighbor and father.<br><br>
  
  Welcome to Larry's Cà Phê, a Vietnamese coffee shop adorned in yellow and emerald, founded by Larry's son, Tuan Nguyen. Mirroring Tuan's own mission, this film was made to show New York the joys of cultivating community and friendships over a cup of Vietnamese coffee."
  context2="Director/Editor: <a href='https://www.chrisocana.com/' target='_blank'rel='noreferrer' >Chris Ocana</a><br>
  Additional Camera/Photography: <a href='https://cynthia-liu.com/' target='_blank'rel='noreferrer' >Cynthia Liu</a><br>
  Titles/Design: Evan Davison<br>
  Color: <a href='https://ellenlee.xyz/' target='_blank'rel='noreferrer' >Ellen Lee</a><br>
  Original Music: BJ White<br><br>
  
  and a very special thanks to Heard City for making this sound great.">
</project-intro>



<div id="larrys-video-wrapper">

<div class="video-embed-wrapper">
  <iframe src="https://player.vimeo.com/video/994901322?&dnt=1" 
  frameborder="0"
  allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
  ></iframe>
</div>
</div>



<div id="larrys-gallery">
<masonry-gallery columns="2">
  <img src="/assets/media/larrys/larrys-insta-example-1.jpg" alt="Image 1" loading="lazy">
  <img src="/assets/media/larrys/Larrys_titleExample-1.gif" alt="Image 2" loading="lazy">
  <img src="/assets/media/larrys/larrys-insta-example-2.jpg" alt="Image 3" loading="lazy">
  <img src="/assets/media/larrys/Title_Example-2.jpg" alt="Image 4" loading="lazy">
</masonry-gallery>
</div>

  </div>
  </div>


  
<div id="homepage-placeholder" hx-get="/homepage-content.html" hx-trigger="load"></div>

<footer>
  <div id="footer-container">
  <div id="footer-links">
   <div id="arena-link">
          <p>Curious?<br>
              <a href='https://www.are.na/evan-davison/index'>are.na/evan-davison</a></p>
      </div>

      <a href="/live.html" class="footer-button">Live →</a>
  </div>

  <div id="footer-nav">
      <div class="footer-nav-links">
          <ul>
              <li><strong>Projects</strong></li>
              <li><a href="/alpheya.html">Alpheya →</a></li>
              <li><a href="/larrys.html">Larry's Cà Phê →</a></li>
              <li><a href="/wove.html">Wove  🔒</a></li>
              <li><a href="/wip-zine.html">WIP Zine →</a></li>
              <li><a href="/living-galapagos.html">Living Galapagos Doc  →</a></li>
          </ul>
      </div>
  </div>

      <div id="footer-flower-container" class="footer-flower-container">
          <div id="weather-headline" class="weather-headline">
             <p id="headline-text">Loading...</p>
           </div>
         <div id="flowerContainer" class="flower-container"></div>
        
         </div>
  </div>
  </footer>

  <script src="/components/gallery/image-carousel.js"></script>
  <script src="/components/gallery/content-gallery.js"></script>
  <script src="/components/content/content-columns.js"></script>
  <script src="/components/content/content-hero-media.js"></script>
  <script src="/components/gallery/masonry-gallery.js"></script>
  <script src="/components/project/project-intro.js"></script>
  <script src="/components/portfolio-thumbnail/project-thumbnail.js"></script>
  <script src="/main.js"></script>
</body>
</html>