<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Living Galapagos Documentary Film">
    <link rel="icon" type="image/svg+xml" href="/assets/icons/ed-favicon.svg" media="(prefers-color-scheme: light)" />
    <link rel="icon" type="image/png" href="/assets/icons/ed-favicon-dark.svg"  media="(prefers-color-scheme: dark)" />
    <link rel="icon" type="image/png" href="/assets/icons/ed-favicon-48x48.png" sizes="48x48" />
    <link rel="shortcut icon" href="/assets/icons/ed-favicon.ico" />
    <title>Living Galapagos Doc</title>
    <link rel="stylesheet" href="/resets.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>


</head>
<body>

  <div id="nav-container" hx-get="/includes/nav.html" hx-trigger="load"></div>

  <div id="case-study-content">
<div id="living-galapagos" class="case-study">


            <div class="left-content">
                <div class="case-sidebar-content">
        
                    <div class="case-sidebar-content-title">
                    <h2>Living Galapagos Documentary</h2>
                    <p>Filmmaker / Editor</p>
                     </div>
        
        
        
                    <p>International Journalism Project with the Hussman School of Journalism and Media.<br><br>

                        I traveled with the MEJO International Projects class to the Galapagos Islands to create stories in teams of 5. Our group focused on land ecosystems, and created a multi-media project following multiple stories of locals associated with farming and agriculture in San Cristobal.</p>
        
                        <p>Produced, filmed, and edited a short-form documentary “Function of Everything”</p>
                            
            
            </div>
        </div> 

        
        
        
        <div class="right-content project-gallery" >
            <div class="case-study-hero-image" style="height: 40vh;">
                <img src="/assets/media/living-galapagos/Screen+Shot+2022-04-25+at+11.17.14+AM.png" alt="">
              </div>
        

              <div class="content-container">
                <p>“Function of Everything” follows Isabel Vasco, an entrepreneur and coffee farmer at Café Embrujo, a female-led, family owned business in San Cristobal. Between a farm in the Highlands and her home in the city, Isabel challenges occupational prejudice while nurturing a close relationship with her family and the natural world. </p>
    </div>
            <div class="vimeo-embed-wrapper">
                <iframe src="https://player.vimeo.com/video/697219220?&dnt=1"
                frameborder="0"
                allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
                style="position:absolute;top:0;left:0;width:100%;height:100%;"
                title="Function of Everything Documentary"
                ></iframe>
            </div>
        
            
            



            <content-columns 
            aspect-ratio="4 / 3"
            columns="2"
            content-1="We spent 10 days on the island of San Cristobal, in the Galapagos Islands of Ecuador. For our documentary, my video teammate and I briefly stayed with our story-partner Isabel.

            We followed her as she harvested coffee beans from her family farm, through the process of drying, roasting, and packaging coffee."
        
            content-2='As part of the International Journalism Class from the Hussman School of Journalism and Media, we collected many different stories, experiences, and memories across many different aspects of the life in the Galapagos.'
          ></content-columns>

          <a href="https://livinggalapagos.unc.edu/living-on-the-land/">View the Project ↗</a>


            <div id="living-galapagos-gallery">
                <masonry-gallery columns="2">
                  <img src="/assets/media/living-galapagos/tempImageRwEu0j.jpg" alt="Image 1" loading="lazy">
                  <img src="/assets/media/living-galapagos/299BA0D3-9975-4ED9-A92A-1321BAED76E7.jpeg" alt="Image 2" loading="lazy">
                </masonry-gallery>
                </div>
        
    
        
          </div>
          </div>
        
            
            </div>




  
<div id="homepage-placeholder" hx-get="/homepage-content.html" hx-trigger="load"></div>

<div id="footer-container" hx-get="/includes/footer.html" hx-trigger="load"></div>

<script src="/components/components.js"></script>
<script src="/main.js"></script>
</body>
</html>