<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/icons/ed-favicon-48x48.png" sizes="48x48" />
    <link rel="icon" type="image/svg+xml" href="/icons/ed-favicon.svg" />
    <link rel="shortcut icon" href="/icons/ed-favicon.ico" />
    <title>Play</title>
    <link rel="stylesheet" href="/resets.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>

  

    
</head>
<body id="play-body">

  <div id="nav-container" hx-get="/includes/nav.html" hx-trigger="load"></div>



  <div id="play">
    <div class="left-content">
        <div id="intro-container">
            <h1>
                Here are some explorations, side-projects, and general for-fun(s).</h1>

    </div>
</div> 



    <div class="right-content play-gallery">

        <div class="spacer">
        </div>


        <video-block 
        video-src="/assets/media/play/3D Flower Vid_compressed.mp4" 
        autoplay="yes"
        controls="no">
        </video-block>


        <video-block 
        video-src="/assets/media/play/MusicVisualizer_blackBG_compressed.mp4" 
        autoplay="yes"
        controls="yes"
        caption="Tap for audio ↑">
        </video-block>

        <p style="color: white; margin-left: auto;">Tap for audio ↑</p>

        <video-block 
        video-src="/assets/media/play/JellyVase_V3_compressed.mp4" 
        autoplay="yes"
        controls="no">
        </video-block>


        <video-block 
        video-src="/assets/media/play/APT_orbit_Trim_compressed.mp4" 
        autoplay="yes"
        controls="no">
        </video-block>


        <video-block 
        video-src="/assets/media/play/antFarm_blackBG_compressed.mp4" 
        autoplay="yes"
        controls="no">
        </video-block>


        <video-block 
        video-src="/assets/media/play/Spinal_V2_compressed.mp4" 
        autoplay="yes"
        controls="no">
        </video-block>


        <video-block 
        video-src="/assets/media/play/My Creative Process V1_compressed.mp4" 
        autoplay="no"
        thumbnail-src="/assets/media/play/MyCreativeProcess-Thumbnail.png">
        </video-block>


        <video-block 
        video-src="/assets/media/play/Flowers_Square_compressed.mp4" 
        autoplay="yes"
        controls="no">
        </video-block>



    </div>
</div>
  
 

<div id="footer-container" hx-get="/includes/footer.html" hx-trigger="load"></div>

<script src="/components/components.js"></script>
<script src="/main.js"></script>
</body>
</html>