<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/icons/ed-favicon-48x48.png" sizes="48x48" />
    <link rel="icon" type="image/svg+xml" href="/icons/ed-favicon.svg" />
    <link rel="shortcut icon" href="/icons/ed-favicon.ico" />
    <title>Play</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>

  
</head>
<body>

  <div id="nav-container" hx-get="/includes/nav.html" hx-trigger="load"></div>






  
  <div id="homepage-placeholder" hx-get="/homepage-content.html" hx-trigger="load"></div>

<footer>
  <div id="footer-container">
  <div id="footer-links">
   <div id="arena-link">
          <p>Curious?<br>
              <a href='https://www.are.na/evan-davison/index'>are.na/evan-davison</a></p>
      </div>

      <a href="/live.html" class="footer-button">Live →</a>
  </div>

  <div id="footer-nav">
      <div class="footer-nav-links">
          <ul>
              <li><strong>Projects</strong></li>
              <li><a href="/alpheya.html">Alpheya →</a></li>
              <li><a href="/larrys.html">Larry's Cà Phê →</a></li>
              <li><a href="/wove.html">Wove  🔒</a></li>
              <li><a href="/wip-zine.html">WIP Zine →</a></li>
              <li><a href="/living-galapagos.html">Living Galapagos Doc  →</a></li>
          </ul>
      </div>
  </div>

      <div id="footer-flower-container" class="footer-flower-container">
          <div id="weather-headline" class="weather-headline">
             <p id="headline-text">Loading...</p>
           </div>
         <div id="flowerContainer" class="flower-container"></div>
        
         </div>
  </div>
  </footer>
  <script src="/components/gallery/image-carousel.js"></script>
  <script src="/components/gallery/content-gallery.js"></script>
  <script src="/components/content/content-columns.js"></script>
  <script src="/components/content/content-hero-media.js"></script>
  <script src="/components/gallery/masonry-gallery.js"></script>
  <script src="/components/project/project-intro.js"></script>
  <script src="/components/portfolio-thumbnail/project-thumbnail.js"></script>
  <script src="/main.js"></script>
</body>
</html>