<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alpheya Case Study</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>

    <base href="/">
    <script>
      if (window.location.hostname === 'evanod64.github.io') {
        document.querySelector('base').setAttribute('href', '/portfolio-website/');
      }
    </script>
</head>
<body>

  <div id="nav-container" hx-get="/includes/nav.html" hx-trigger="load"></div>

  <div id="case-study-content">
<div id="wove" class="case-study">

  <div class="case-study-hero-image">
    <img src="/assets/media/wove/wove-thumbnail.jpeg" alt="wove-thumbnail-banner">
  </div>

  <project-intro 
  title="Launching the Wove Brand" 
  role="Animator / Associate Designer" 
  context1="BNY Mellon's internal tech incubator, Pershing X, was building an industry changing wealth management platform. It was one of BNY Mellon's most ambitious projects, a unified platform to be used by thousands of advisor firm clients, serving millions of investors, and managing billions of dollars. 
<br><br>
  The team at Critical Mass created the strategy, name, and brand identity for the platform,  preparing to launch the new product at BNY Mellon's INSITE 2023 conference." 
  context2="Team:<br><br>
  Creative Director - Sean Kelly<br>
  Strategy Lead - Joe Cook<br>
  Art Director / Copy- Ben Benchitrit<br>
  Art Director - Kyle Wukasch<br>
  Animator / Associate Designer - Evan Davison">
</project-intro>

<content-hero-media
media-src="/assets/video/Venue Square Mockup_Expanded_compressed.mp4"
hero-title="The Sizzle."
hero-text-context=""
hero-text-content-2="An internal project created to summarize and review the Wove brand design created by Critical Mass. I worked on the concept, storyboards, and design for this video, including all animation."
></content-hero-media>

  </div>
  </div>
  
  <div id="homepage-placeholder" hx-get="/homepage-content.html" hx-trigger="load"></div>

<footer>
  <div id="footer-container">
  <div id="footer-links">
   <div id="arena-link">
          <p>Curious?<br>
              <a href='https://www.are.na/evan-davison/index'>are.na/evan-davison</a></p>
      </div>

      <a href="https://your-link.com" class="footer-button">Live →</a>
  </div>

  <div id="footer-nav">
      <div class="footer-nav-links">
          <ul>
              <li><strong>Projects</strong></li>
              <li><a href="/case-studies/alpheya.html">Alpheya →</a></li>
              <li><a href="/case-studies/larrys.html">Larry's Cà Phê →</a></li>
              <li><a href="/case-studies/wove.html">Wove  🔒</a></li>
              <li><a href="/case-studies/wip-zine.html">WIP Zine →</a></li>
              <li><a href="/case-studies/living-galapagos.html">Living Galapagos Doc  →</a></li>
          </ul>
      </div>
  </div>

      <div id="footer-flower-container" class="footer-flower-container">
          <div id="weather-headline" class="weather-headline">
             <p id="headline-text">Loading...</p>
           </div>
         <div id="flowerContainer" class="flower-container"></div>
        
         </div>
  </div>
  </footer>
  <script src="/components/gallery/image-carousel.js"></script>
  <script src="/components/gallery/content-gallery.js"></script>
  <script src="/components/content/content-columns.js"></script>
  <script src="/components/content/three-up-text.js"></script>
  <script src="/components/content/content-hero-media.js"></script>
  <script src="/components/gallery/masonry-gallery.js"></script>
  <script src="/components/project/project-intro.js"></script>
  <script src="/components/portfolio-thumbnail/project-thumbnail.js"></script>
  <script src="/main.js"></script>
</body>
</html>